<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <%- include('nav'); -%>
        <div class="container">
            <img id="captcha" class="mt-5 mb-3" src="<%= source %>"" />
            <form>
                <div class="form-group">
                    <input id="code" class="form-control" id="exampleInputPassword1" placeholder="Code" />
                </div>

                <div>Attempts: <%= attempts %></div>

                <button id="submit" type="button" class="btn btn-primary" onclick="checkCode('<%= value %>')">Submit</button>
                <button id="reload" class="btn btn-danger">Reload</button>
            </form>
            <p id="submit-message"></p>
        </div>
        <script src="script.js"></script>
    </body>
</html>
