<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Captcha Breaker</a>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
